label {
  display: block;
  font-size: .9rem;
  font-weight: bold;
  color: #777;
  text-align: left;
}
input,
button,
textarea {
  margin-bottom: .5em;
  padding: .6em .5em .5em;
  border-radius: 4px;
  background: transparent;
}
input,
textarea {
  border: 1px solid #bbb;
  color: #333;
}
input:focus,
textarea:focus {
  outline: none;
  border: 1px solid #333;
}
button,
input[type="submit"] {
  margin-top: .6em;
  border: 1px solid #4288bb;
  color: #4288bb;
  font-weight: bold;
}
button:hover,
input[type="submit"]:hover,
button:focus,
input[type="submit"]:focus {
  background: #4288bb;
  color: white;
  cursor: pointer;
}
form:not(#send_message) {
  width: 240px;
  display: flex;
  flex-flow: column;
  margin: 0 auto;
}
#send_message {
  width: 99%;
  max-width: 30rem;
  position: fixed;
  bottom: 0;
  text-align: right;
}
#send_message textarea {
  width: calc(100% - 1em);
  max-width: calc(@maxWidth - 1em);
  height: 2.4em;
  margin-bottom: 0;
}
#send_message input[type="submit"] {
  margin-top: 0;
}
.messages {
  list-style: none;
  padding: 0;
  margin-right: -15px;
  height: calc(100% - 240px);
  overflow: scroll;
}
.messages .sent {
  text-align: right;
}
.messages .sent .message {
  background: #eee;
}
.messages .received .message {
  background: #eaf2fc;
}
.messages .message {
  display: inline-block;
  padding: 4px 6px;
  border-radius: 5px;
  margin-right: 13px;
}
.messages time {
  display: block;
  font-size: .7rem;
  color: #bbb;
  margin: 6px 13px 0 0;
}
html,
body,
.main {
  height: 100%;
}
body {
  font: 16px/1.5 -apple-system, BlinkMacSystemFont, 'Segoie UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #333;
  padding: 0;
  overflow: hidden;
}
.main {
  width: 90%;
  max-width: 30rem;
  position: relative;
  margin: 1em auto 2em;
}
nav {
  position: absolute;
  top: 0;
  right: 0;
}
h1,
h4,
p {
  margin: 0 auto .5em;
}
a {
  color: #333;
  text-decoration: none;
}
a:not(h1 > a) {
  color: #4288bb;
  text-decoration: underline;
  text-decoration-color: #bad7ec;
  -webkit-text-decoration-color: #bad7ec;
  text-decoration-skip: ink;
  -webkit-text-decoration-skip: ink;
}
a:hover {
  color: #595959;
}
a:hover:not(h1 > a:hover) {
  color: #115c94;
  text-decoration-color: #115c94;
  -webkit-text-decoration-color: #115c94;
}
