label {
  display: block;
  font-size: .9rem;
  font-weight: bold;
  color: #777;
}
input {
  margin-bottom: .5em;
  padding: .3em .1em;
}
button,
input[type="submit"] {
  margin-top: .6em;
  padding: .5em;
}
#login {
  width: 240px;
  display: flex;
  flex-flow: column;
  margin: 0 auto;
}
#send_message {
  width: 100%;
  position: fixed;
  bottom: 1em;
}
textarea {
  width: 90%;
  max-width: 30rem;
  height: 3em;
}
.messages {
  list-style: none;
  padding: 0;
  margin-right: -15px;
  height: calc(86%);
  overflow: scroll;
}
.messages .sent {
  text-align: right;
}
.messages .sent .message {
  background: #eee;
}
.messages .received .message {
  background: #eaf2fc;
}
.messages .message {
  display: inline-block;
  padding: 4px 6px;
  border-radius: 5px;
  margin-right: 13px;
}
.messages time {
  display: block;
  font-size: .7rem;
  color: #bbb;
  margin-right: 13px;
  margin-top: 6px;
}
html,
body,
.main {
  height: 100%;
}
body {
  font: 16px/1.5 -apple-system, BlinkMacSystemFont, 'Segoie UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #333;
  padding: 0;
  overflow: hidden;
}
.main {
  width: 90%;
  max-width: 30rem;
  position: relative;
  margin: 1em auto 2em;
}
nav {
  position: absolute;
  top: 0;
  right: 0;
}
h1,
h4,
p {
  margin: 0 auto .5em;
}
a {
  color: #4288bb;
  text-decoration-color: #bad7ec;
  -webkit-text-decoration-color: #bad7ec;
  text-decoration-skip: ink;
  -webkit-text-decoration-skip: ink;
}
a:hover {
  color: #115c94;
  text-decoration-color: #115c94;
  -webkit-text-decoration-color: #115c94;
  text-decoration-skip: ink;
  -webkit-text-decoration-skip: ink;
}
