<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Talk</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css" />
    <link rel="stylesheet" href="../static/base.css" />
  </head>
  <body>
    <div class="main">
      <h1><a href="{{ url_for('dashboard') }}">Talk</a></h1>
      <nav>
        {% if not session.logged_in %}
          <a href="{{ url_for('login') }}">Log in</a>
        {% else %}
          Welcome, {{ session.username }}. <a href="{{ url_for('logout') }}">Log out</a> /
           <a href="{{ url_for('change_pw') }}">Change password</a>
        {% endif %}
      </nav>

      {% for msg in get_flashed_messages() %}
        <em>{{ msg }}</em>
      {% endfor %}

      {% block body %}{% endblock %}
    </div>

    <script src="../static/helpers.js"></script>
    {{ moment.include_jquery() }}
    {{ moment.include_moment() }}
    {{ moment.lang("hu") }}
  </body>
</html>
