{% extends "base.html" %}
{% block body %}
  {% if error %}<strong>Error: {{ error }}</strong>{% endif %}
  <form id="change_pw" action="{{ url_for('change_pw') }}" method="post">
    <h2>Change password</h2>
    <label for="old_password">
      Old password
    </label>
    <input type="password" name="old_password">
    <hr>
    <label for="new_password">
      New password (>8, nums, caps, !#$%)
    </label>
    <input type="password" name="new_password">
    <label for="new_password_check">New password one more time</label>
    <input type="password" name="new_password_check">
    <input type="submit" value="Change">
  </form>

{% endblock %}
