{% extends "base.html" %}
{% block body %}
  {% if session.logged_in %}

    <h4>You are talking to {{ partner }}</h4>

    <ul class="messages">
      {% for message in messages | reverse %}
        <li class="{{ 'sent' if message.sender == session['username'] else 'received'}}">
          <time>{{ moment(message.sent_at).fromNow(refresh=True) }}</time>

          <span class="message">
            {% for line in message.message.split('\n') %}
              {{ line.decode('utf-8').strip() }}<br>
            {% endfor %}
          </span>
        </li>
      {% else %}
        <p>Sorry, you have no messages.</p>
      {% endfor %}
    </ul>

    <form id="send_message" name="send_message" action="{{ url_for('send_message') }}" method="post">
      <label for="message">Send a message to {{ partner }}:</label>
      <textarea autofocus name="message" id="send_msg_input" rows="2"
        placeholder="Type your message here..."></textarea>
      <input type="submit" name="Send message" value="Send">
    </form>

  {% endif %}

{% endblock %}
