@import 'variables';
@import 'forms';
@import 'messages';

html,
body,
.main {
  height: 100%;
}

body {
  font: 16px/1.5 @primaryFont;
  color: @textColor;
  padding: 0;
  overflow: hidden;
}

.main {
  width: @mainWidth;
  max-width: @maxWidth;
  position: relative;
  margin: 1em auto 2em;
}

nav {
  position: absolute;
  top: 0;
  right: 0;
}

h1,
h4,
p {
  margin: 0 auto .5em;
}

a {
  color: @linkColor;
          text-decoration-color: @linkAccent;
  -webkit-text-decoration-color: @linkAccent;
          text-decoration-skip: ink;
  -webkit-text-decoration-skip: ink;
}

a:hover {
  color: @linkHover;
          text-decoration-color: @linkHover;
  -webkit-text-decoration-color: @linkHover;
          text-decoration-skip: ink;
  -webkit-text-decoration-skip: ink;
}

.sr-only {
  position: fixed;
  left: -9999px;
}
