@import 'variables';
@import 'forms';
@import 'messages';

html,
body,
.main {
  height: 100%;
}

body {
  font: 16px/1.5 @primaryFont;
  color: @dark;
  padding: 0;
  overflow: hidden;
}

.main {
  width: @mainWidth;
  max-width: @maxWidth;
  position: relative;
  margin: 1em auto 2em;
}

nav {
  position: absolute;
  top: 0;
  right: 0;
}

h1,
h4,
p {
  margin: 0 auto .5em;
}

a {
  color: @dark;
  text-decoration: none;

  &:not(h1 > a) {
    color: @accent;
    text-decoration: underline;
            text-decoration-color: @lightAccent;
    -webkit-text-decoration-color: @lightAccent;
            text-decoration-skip: ink;
    -webkit-text-decoration-skip: ink;
  }
}

a:hover {
  color: lighten(@dark, 15%);

  &:not(h1 > a:hover) {
    color: @darkAccent;
            text-decoration-color: @darkAccent;
    -webkit-text-decoration-color: @darkAccent;
  }
}
