@import 'variables';
@import 'forms';
@import 'messages';

html {
  height: 100%;
}

body {
  padding: 0;
  height: 100%;
  overflow: hidden;
  font: 16px/1.5 -apple-system, BlinkMacSystemFont, 'Segoie UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  color: #333;
}

.main {
  width: 90%;
  height: 100%;
  max-width: 30rem;
  margin: 1em auto 2em;
  position: relative;
}

nav {
  position: absolute;
  top: 0;
  right: 0;
}

h1,
h4 {
  margin-top: 0;
  margin-bottom: .5em;
}

p {
  margin-bottom: .5em;
}

a {
  color: #4288bb;
          text-decoration-color: #bad7ec;
  -webkit-text-decoration-color: #bad7ec;
          text-decoration-skip: ink;
  -webkit-text-decoration-skip: ink;
}

a:hover {
  color: #115c94;
          text-decoration-color: #115c94;
  -webkit-text-decoration-color: #115c94;
          text-decoration-skip: ink;
  -webkit-text-decoration-skip: ink;
}
