@import 'variables';

label {
  display: block;
  font-size: .9rem;
  font-weight: bold;
  color: @labelColor;
}

input {
  margin-bottom: .5em;
  padding: .3em .1em;
}

button,
input[type="submit"] {
  margin-top: .6em;
  padding: .5em;
}

form:not(#send_message) {
  width: @narrowBlockWidth;
  display: flex;
  flex-flow: column;
  margin: 0 auto;
}

#send_message {
  width: 99%;
  max-width: @maxWidth;
  position: fixed;
  bottom: 1em;
  text-align: right;

  label {
    text-align: left;
  }

  textarea {
    width: 99%;
    max-width: @maxWidth;
    height: 3em;
  }
}
