@import 'variables';

label {
  display: block;
  font-size: .9rem;
  font-weight: bold;
  color: @mid;
  text-align: left;

}

input,
button,
textarea {
  margin-bottom: .5em;
  padding: .6em .5em .5em;
  border-radius: 4px;
  background: transparent;
}

input,
textarea {
  border: 1px solid @light;
  color: @dark;

  &:focus {
    outline: none;
    border: 1px solid @dark;
  }
}

button,
input[type="submit"] {
  margin-top: .6em;
  border: 1px solid @accent;
  color: @accent;
  font-weight: bold;

  &:hover,
  &:focus {
    background: @accent;
    color: white;
    cursor: pointer;
  }
}

form:not(#send_message) {
  width: @narrowBlockWidth;
  display: flex;
  flex-flow: column;
  margin: 0 auto;
}

#send_message {
  width: 99%;
  max-width: @maxWidth;
  position: fixed;
  bottom: 0;
  text-align: right;

  textarea {
    width: calc(~'100% - 1em');
    max-width: calc(~'@maxWidth - 1em');
    height: 2.4em;
    margin-bottom: 0;
  }

  input[type="submit"] {
    margin-top: 0;
  }
}
