@import 'variables';

.messages {
  list-style: none;
  padding: 0;
  margin-right: -15px;
  height: calc(100% - 14em);
  overflow: scroll;

  .message {
    display: inline-block;
    margin: 4px 0;
    padding: 4px 6px;
    border-radius: 5px;
    margin-right: 13px;
  }

  .sent {
    text-align: right;
    .message {
      background: #eee;
    }
  }

  .received .message {
    background: #eaf2fc;
  }

  time {
    display: block;
    font-size: .7em;
    color: #bbb;
    margin-right: 13px;
  }
}
