@primaryFont: -apple-system, BlinkMacSystemFont, 'Segoie UI', 'Roboto',
  'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
  'Helvetica Neue', sans-serif;

@maxWidth: 30rem;
@mainWidth: 90%;

@narrowBlockWidth: 240px;

@dark: #333;
@mid: #777;
@light: #bbb;
@accent: #4288bb;
@lightAccent: #bad7ec;
@darkAccent: #115c94;
@bgColor: #eee;
@bgAccent: #eaf2fc;
